<div class="black-background text-light">
    <div class="container pt-4 pb-5">
        <h4 class="text-center mb-3">Gestión de Usuarios</h4>
        <div class="input-group mb-4">
            <a class="btn btn-black text-white bi bi-plus-circle" href="/usuario-form/0"> Crear usuario</a>
            <button class="btn btn-black text-white bi bi-search" type="button" (click)="buscarPorUsername()"> Buscar usuario</button>
            <input type="text" class="form-control" placeholder="Ingresar el username de un usuario. Ejemplo: nachopad" [(ngModel)]="searchUsername" (ngModelChange)="buscarPorUsername()">
        </div>
        <div class="text-center border rounded-3 m-auto p-5" style="width: 300px;" *ngIf="usuarios.length==0">
            <h4 class="bi bi-exclamation-octagon"></h4>
            <h6 class="mb-3">No existen usuarios.</h6>
            <a class="btn btn-light bi bi-plus-circle" href="/usuario-form/0"> Crear usuario</a>
        </div>
        <div class="text-center table-responsive" *ngIf="usuarios.length!=0">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Usuario</th>
                        <th scope="col">Apellido y nombre</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <td>{{usuario.user}}</td>
                        <td>{{usuario.apellido}}, {{usuario.nombre}}</td>
                        <td>{{usuario.rol.nombre}}</td>
                        <td style="font-size: 18px;">
                            <a class="btn btn-primary bi bi-pencil-square" href="/usuario-form/{{usuario._id}}"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .75rem; margin-right: 3px;"></a>
                            <a class="btn btn-danger bi bi-trash3" (click)="eliminarUsuario(usuario._id)"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .75rem; margin-top: 0;"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>