<div class="black-dark-background">
    <div class="container-fluid welcome-section">
        <img src="assets/images/homepage/hamburgers-and-beers.jpg" alt="Restobar" class="welcome-image blurry-background">
        <div class="welcome-content">
            <h1 class="welcome-title green-line">Bienvenido a Birabar</h1>
            <p class="welcome-description">Descubre nuestras deliciosas opciones de comida y bebida.</p>
        </div>
    </div>
    <div class="container pb-5 pt-5">
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="icon-box text-center bg-gradient">
                    <a class="icon-link pointer" (click)="comprobarUsuario()">
                        <i class="fa-solid fa-truck-fast fa-3x"></i>
                        <h3 class="icon-title">Tus Pedidos</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="icon-box text-center bg-gradient">
                    <a class="icon-link" routerLink="/menu">
                        <i class="fa-solid fa-newspaper fa-3x"></i>
                        <h3 class="icon-title">Carta Digital</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="icon-box text-center bg-gradient">
                    <a class="icon-link" routerLink="/ofertas">
                        <i class="fa-solid fa-hand-holding-dollar fa-3x"></i>
                        <h3 class="icon-title">Ofertas</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="icon-box text-center bg-gradient">
                    <a class="icon-link" routerLink="/combos">
                        <i class="fa-solid fa-burger me-2 fa-3x"></i>
                        <i class="fa-solid fa-beer-mug-empty fa-3x"></i>
                        <h3 class="icon-title">Combos</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>