<div class="black-background text-white">
    <div class="container">
        <div class="text-center">
            <h1 class="display-5 mb-4">Sobre nosotros</h1>
            <p class="">¡Bienvenido a Birabar! Descubre una esquina llena de buenos momentos donde puedes disfrutar de una experiencia gastronómica inigualable. Nuestro Restobar combina una amplia variedad de sabores y bebidas en un ambiente acogedor y vibrante.</p>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 mb-4 mt-2">
                <img src="assets/images/about-us-page/bebida.jpg" class="img-fluid rounded zoom-image" alt="Birabar">
            </div>
            <div class="col-lg-6 d-flex align-items-center text-center">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h2 class="mb-4 display-6">Deliciosos sabores y más</h2>
                    <p class="">En Birabar, te invitamos a probar nuestra selección única de platos y bebidas que reflejan la pasión por la buena comida y las experiencias inolvidables. Desde nuestras especialidades culinarias hasta nuestra amplia carta de cócteles artesanales, estamos comprometidos en brindarte momentos memorables junto a tus seres queridos.</p>
                    <p class="">Nuestro equipo de talentosos chefs utiliza ingredientes frescos y locales para crear platos innovadores y deliciosos que te sorprenderán. Ya sea que estés buscando una cena romántica, una reunión con amigos o simplemente relajarte con una copa, Birabar es el lugar perfecto para disfrutar de buenos momentos.</p>
                    <a class="btn btn-green text-white shadow" (click)="navegarCarta()">Descubre nuestro Menú</a>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-6 mb-4">
                <img src="assets/images/about-us-page/birabar-history.jpg" class="img-fluid rounded zoom-image" alt="Nuestra historia">
            </div>
            <div class="col-lg-6 d-flex align-items-center text-center">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h2 class="h4 mb-4 display-6">Nuestra historia</h2>
                    <p class="">Birabar fue fundado con la visión de crear un lugar donde la buena comida, las bebidas exquisitas y la hospitalidad se unieran para brindar momentos inolvidables a nuestros clientes.</p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-6 mb-4">
                <img src="assets/images/about-us-page/birabar-equipo.jpg" class="img-fluid rounded zoom-image" alt="Experiencia del equipo">
            </div>
            <div class="col-lg-6 d-flex align-items-center text-center">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h2 class="h4 mb-4 display-6">Experiencia del equipo</h2>
                    <p class="">Nuestro equipo está compuesto por talentosos chefs y personal de servicio amable y dedicado. Con años de experiencia en la industria gastronómica, nuestro equipo se esfuerza por crear platos innovadores y brindar un servicio excepcional para garantizar que cada visita a Birabar sea especial.</p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-6 mb-4">
                <img src="assets/images/about-us-page/birabar-ambiente.jpg" class="img-fluid rounded zoom-image" alt="Ambiente y diseño">
            </div>
            <div class="col-lg-6 d-flex align-items-center text-center">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h2 class="h4 mb-4 display-6">Ambiente y diseño</h2>
                    <p class="">En Birabar, hemos creado un ambiente único y acogedor para que nuestros clientes disfruten. Nuestra decoración cuidadosamente seleccionada, la iluminación cálida y el diseño interior moderno se combinan para crear una atmósfera agradable y relajada.</p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-6 mb-4">
                <img src="assets/images/about-us-page/testmionio.jpg" class="img-fluid rounded zoom-image" alt="Testimonios de clientes">
            </div>
            <div class="col-lg-6 d-flex align-items-center text-center">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h2 class="h4 mb-4 display-6">Testimonios de clientes</h2>
                    <p class="">No hay mejor manera de conocer la experiencia en Birabar que a través de las palabras de nuestros clientes satisfechos:</p>
                    <blockquote class="blockquote">
                        <p class="">"Birabar es mi lugar favorito para disfrutar de una cena romántica. La comida es exquisita y el ambiente es perfecto para una noche especial".</p>
                        <footer class="blockquote-footer">Laura M., Cliente habitual</footer>
                    </blockquote>
                    <blockquote class="blockquote">
                        <p class="">"¡Increíble selección de cócteles! Me encanta probar las creaciones únicas de Birabar. Siempre me sorprenden con sabores deliciosos".</p>
                        <footer class="blockquote-footer">Carlos R., Amante de los cócteles</footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-6 mb-4">
                <img src="assets/images/about-us-page/birabar-event.jpg" class="img-fluid rounded zoom-image" alt="Eventos y promociones especiales">
            </div>
            <div class="col-lg-6 d-flex align-items-center text-center">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h2 class="h4 mb-4 display-6">Eventos y promociones especiales</h2>
                    <p class="">En Birabar, regularmente organizamos eventos temáticos y promociones especiales. ¡No te pierdas nuestras noches de música en vivo y descuentos especiales en determinados días de la semana!</p>
                    <a (click)="navegarOfertas()" class="btn btn-green text-white mb-5  shadow">Ver próximos eventos</a>
                </div>
            </div>
        </div>
    </div>
</div>