.black-background {
    background-color: #202634;
}

.black-dark-background {
    background-color: #141a24
}

.green-background {
    background-color: #1fd08f;
}

.green-text {
    color: #1fd08f;
}

.form-control:focus {
    box-shadow: none;
}

.input-group-text {
    font-size: 1.5rem;
    background-color: #1fd08f;
    color: white;
    border-radius: 5px 2px 2px 5px;
}

.custom-text-size{
    font-size: medium;
}

.custom-radius{
    background-color: rgb(230, 230, 230);
    border-radius: 0px 2px 2px 0px;
}

.green-input {
    background-color: #acfade;
}
