<div class="black-dark-background pt-4 pb-4" *ngIf="userRol==='Cliente'">
    <div class="container rounded black-background bg-gradient">
        <div class="row">
            <div class="col-md-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3">
                    <span class="font-weight-bold text-white mt-4">{{userRol}}</span>
                    <i class="fa fa-user-large fa-9x text-white mb-2 mt-4"></i>
                    <span class="font-weight-bold text-white">{{clienteLogueado.usuario.user}}</span>
                <span class="text-white-50">{{clienteLogueado.email}}</span>
            </div>
            </div>
            <div class="col-md-8">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3 text-white">
                        <div class="d-flex flex-row align-items-center back">
                            <button class="btn btn-sm bg-secondary text-white fw-semibold" type="button" [routerLink]="['/principal']"><i class="fa fa-long-arrow-left mr-1 mb-1 me-1"></i>Volver a Principal</button>
                        </div>
                        <button class="btn btn-sm bg-secondary text-white fw-semibold" type="button" (click)="habilitarModificacion()" *ngIf="edit==false">Editar perfil</button>
                        <button class="btn btn-sm bg-danger text-white fw-semibold" type="button" (click)="habilitarModificacion()" *ngIf="edit==true">Cancelar edicion</button>
                    </div>
                    <span *ngIf="edit==true" class="text-warning">Edicion habilitada</span>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="usuario" [ngClass]="{'green-input': edit==true}" [(ngModel)]="clienteLogueado.usuario.user" [disabled]="edit==false">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group rounded">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" [ngClass]="{'green-input': edit==true}" [(ngModel)]="clienteLogueado.usuario.password" placeholder="Contraseña" [disabled]="edit==false">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Nombre" [ngClass]="{'green-input': edit==true}" [(ngModel)]="clienteLogueado.usuario.nombre" [disabled]="edit==false">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" [ngClass]="{'green-input': edit==true}" [(ngModel)]="clienteLogueado.usuario.apellido" placeholder="Apellido" [disabled]="edit==false">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Email" [ngClass]="{'green-input': edit==true}" [(ngModel)]="clienteLogueado.email" [disabled]="edit==false">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                </div>
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-secondary custom-radius" [ngClass]="{'green-input': edit==true}"><span class="custom-text-size">+54 9</span></span>
                                </div>
                                <input type="text" class="form-control" [ngClass]="{'green-input': edit==true}" [(ngModel)]="clienteLogueado.telefono" placeholder="Número de celular" [disabled]="edit==false">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-home"></i></span>
                                </div>
                                <input type="text" class="form-control text-center" placeholder="Domicilio" [ngClass]="{'green-input': edit==true}" [(ngModel)]="clienteLogueado.direccion" [disabled]="edit==false">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-check d-flex justify-content-center mt-5">
                        <input *ngIf="clienteLogueado.suscripto" class="form-check-input me-2" type="checkbox" value="clienteLogueado.suscrito" id="tyc" name="tyc" (click)="suscribirse()" checked/>
                        <input *ngIf="!clienteLogueado.suscripto" class="form-check-input me-2" type="checkbox" value="clienteLogueado.suscrito" id="tyc" name="tyc" (click)="suscribirse()"/>
                        <label class="form-check-label text-white" for="tyc">
                            Subscribirme para recibir todas las novedades sobre Birabar (Combos, ofertas, etc.)
                        </label>
                    </div>
                   
                    <div class="mt-4 text-right"><button class="btn green-background text-white fw-semibold" type="button" *ngIf="edit==true" (click)="verificarTipoModificacion()">Guardar perfil</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="black-dark-background pt-4 pb-4" *ngIf="(userRol==='Gestor') || (userRol==='Administrador')">
    <div class="container rounded black-background bg-gradient">
        <div class="row">
            <div class="col-md-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3">
                    <span class="font-weight-bold text-white mt-4">{{userRol}}</span>
                    <i class="fa fa-user-large fa-9x text-white mb-2 mt-4"></i>
                    <span class="font-weight-bold text-white">{{usuarioLogueado.user}}</span>
            </div>
            </div>
            <div class="col-md-8">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3 text-white">
                        <div class="d-flex flex-row align-items-center back">
                            <button class="btn btn-sm bg-secondary text-white fw-semibold" type="button" [routerLink]="['/principal']"><i class="fa fa-long-arrow-left mr-1 mb-1 me-1"></i>Volver a Principal</button>
                        </div>
                        <button class="btn btn-sm bg-secondary text-white fw-semibold" type="button" (click)="habilitarModificacion()" *ngIf="edit==false">Editar perfil</button>
                        <button class="btn btn-sm bg-danger text-white fw-semibold" type="button" (click)="habilitarModificacion()" *ngIf="edit==true">Cancelar edicion</button>
                    </div>
                    <span *ngIf="edit==true" class="text-warning">Edicion habilitada</span>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="usuario" [ngClass]="{'green-input': edit==true}" [(ngModel)]="usuarioLogueado.user" [disabled]="edit==false">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group rounded">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" [ngClass]="{'green-input': edit==true}" [(ngModel)]="usuarioLogueado.password" placeholder="Contraseña" [disabled]="edit==false">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Nombre" [ngClass]="{'green-input': edit==true}" [(ngModel)]="usuarioLogueado.nombre" [disabled]="edit==false">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" [ngClass]="{'green-input': edit==true}" [(ngModel)]="usuarioLogueado.apellido" placeholder="Apellido" [disabled]="edit==false">
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 text-right">
                        <button class="btn green-background text-white fw-semibold" type="button" *ngIf="edit==true" (click)="verificarTipoModificacion()">Guardar perfil</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>