<!--
<div class="black-background container-fluid p-5">
    <form class="container align-content-center d-grid col-md-6 col-sm-12 mt-5" #productoForm="ngForm">
        <div class="border border-1 border-secondary bg-gradient rounded-3 text-white">
            <div class="d-grid text-center bg-info-subtle rounded-top-3">
                <div class="d-grid text-center" *ngIf="accion=='new'">
                    <h4 class="text-black">Alta de Producto</h4>
                </div>
                <div class="d-grid text-center" *ngIf="accion=='update'">
                    <h4 class="text-black">Actualizar Producto</h4>
                </div>
            </div>
            <div class="mb-3">
                <div class="row pt-4">
                    <div class="col-xl-4 col-md-12 col-sm-12 ps-4">
                        <label for="nombreProducto" class="col-form-label">Nombre del producto:</label>
                    </div>
                    <div class="col-xl-8 col-md-12 col-sm-12 pe-4">
                    <input type="text" class="form-control rounded-1" id="nombreProducto" name="nombreProducto" placeholder="Ej: Hamburguesas" [(ngModel)]="producto.nombreProducto" required #nombreProducto="ngModel">
                        <div class="text-center">
                            <div *ngIf="nombreProducto.invalid && (nombreProducto.dirty || nombreProducto.touched)" class="text-danger fw-bold">
                                <div *ngIf="nombreProducto.errors?.['required']">
                                    Debe ingresar el nombre del producto
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>

                <div class="row pt-4">
                    <div class="col-xl-4 col-md-12 col-sm-12 ps-4">
                        <label for="descripcionProducto" class="col-form-label">Descripcion del producto:</label>
                    </div>
                    <div class="col-xl-8 col-md-12 col-sm-12 pe-4">
                        <textarea class="form-control" id="descripcionProducto" name="descripcionProducto" [(ngModel)]="producto.descripcion" #descripcionProducto="ngModel" required></textarea>
                        <div class="text-center">
                            <div *ngIf="descripcionProducto.invalid && (descripcionProducto.dirty || descripcionProducto.touched)" class="text-danger fw-bold">
                                <div *ngIf="descripcionProducto.errors?.['required']">
                                    Debe ingresar una descripcion del producto
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>

                <div class="row pt-4">
                    <div class="col-xl-4 col-md-12 col-sm-12 ps-4">
                        <label for="precioProducto" class="col-form-label">Precio del producto:</label>
                    </div>
                    <div class="col-xl-8 col-md-12 col-sm-12 pe-4">
                    <input type="number" class="form-control rounded-1" id="precioProducto" name="precioProducto" placeholder="Ej: Hamburguesas" [(ngModel)]="producto.precio" required #precioProducto="ngModel">
                        <div class="text-center">
                            <div *ngIf="precioProducto.invalid && (precioProducto.dirty || precioProducto.touched)" class="text-danger fw-bold">
                                <div *ngIf="precioProducto.errors?.['required']">
                                    Debe ingresar el precio del producto
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                

                <div class="row pt-4">
                    <div class="col-xl-4 col-md-12 col-sm-12 ps-4">
                        <label for="categoriaProducto" class="col-form-label">Categoria del producto:</label>
                    </div>
                    <div class="col-xl-8 col-md-12 col-sm-12 pe-4">
                        <select id="categoriaProducto" name="categoriaProducto" class="text-center form-select rounded-0" [(ngModel)]="producto.categoria" required #categoriaProducto="ngModel">
                            <option selected disabled>Seleccione una Categoria</option>
                            <option *ngFor="let c of listaCategorias" ngValue="{{c._id}}">{{c.nombreCategoria}}</option>
                        </select>
                        <div *ngIf="categoriaProducto.invalid && (categoriaProducto.dirty || categoriaProducto.touched)" class="text-danger fw-bold">
                            <div *ngIf="categoriaProducto.errors?.['required']">
                            Debe ingresar la categoria del producto
                            </div>
                        </div>
                    </div>  
                </div>


                <div class="row pt-4">
                    <div class="col-xl-4 col-md-12 col-sm-12 ps-4 pt-2">
                        <label for="imagen" class="form-label">Elija una imagen: </label>
                    </div>
                    <div class="col-xl-8 col-md-12 col-sm-12 pe-4">
                        <input class="form-control" type="file" id="imagen" name="imagen" accept="image/*" (change)="onFileSelected($event)" ngModel #imagen="ngModel" required>
                        <div class="d-grid justify-content-center pt-3">
                            <img [src]="producto.imagen" class="img-thumbnail img-fluid" style="max-width: 300px"/>
                        </div>
                        
                        <div *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)" class="text-danger fw-bold">
                            <div *ngIf="imagen.errors?.['required']">
                            Debe ingresar una imagen
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="d-grid justify-content-center pt-4">
                    <div class="row g-5">
                        <div class="col-md-6 col-sm-6 col-12" *ngIf="accion==='new'">
                            <button type="submit" class="form-control bg-info rounded-3 fw-bold producto" (click)="registrarProducto()" [disabled]="!productoForm.valid">Registrar</button>
                        </div>
                        <div class="col-md-6 col-sm-6 col-12" *ngIf="accion==='update'">
                            <button type="submit" class="form-control bg-success rounded-3 fw-bold text-white producto" (click)="actualizarProducto()" [disabled]="!productoForm.valid">Actualizar</button>
                        </div>
                        <div class="col-md-6 col-sm-6 col-12">
                            <button type="submit" class="form-control bg-secondary rounded-3 text-white fw-bold producto" (click)="cancelarOperacion()"> Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </form>
</div>
-->



<div class="black-background">
    <div class="container pt-4 pb-5 text-light">
        <h4 class="text-center mb-3">Gestión de Productos</h4>
        <div class="row mb-3 justify-content-center">
            <div class="col-11 col-md-7 border rounded-3 border-secondary p-4">
                <form #productoForm="ngForm">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <label class="form-text text-secondary" for="nombreProducto">Nombre de producto:</label>
                            <input type="text" class="form-control form-control-md" id="nombreProducto" name="nombreProducto"
                                placeholder="Ingrese nombre de producto" autocomplete="off"  required
                                #nombreProducto="ngModel" [(ngModel)]="producto.nombreProducto">
                            <div *ngIf="nombreProducto.invalid && (nombreProducto.dirty || nombreProducto.touched)" class="text-danger">
                                <div *ngIf="nombreProducto.errors?.['required']">
                                    Debe ingresar el nombre de producto antes de continuar.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label class="form-text text-secondary" for="descripcionProducto">Descripcion:</label>
                            <input type="text" class="form-control form-control-md" id="descripcionProducto" name="descripcionProducto"
                                placeholder="Ingrese una descripcion de producto" autocomplete="off"  required
                                #descripcionProducto="ngModel" [(ngModel)]="producto.descripcion">
                            <div *ngIf="descripcionProducto.invalid && (descripcionProducto.dirty || descripcionProducto.touched)" class="text-danger">
                                <div *ngIf="descripcionProducto.errors?.['required']">
                                    Debe ingresar la descripción del producto antes de continuar.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label class="form-text text-secondary" for="precioProducto">Precio:</label>
                            <input type="text" class="form-control form-control-md" id="precioProducto" name="precioProducto"
                                placeholder="Ingrese un precio de producto" autocomplete="off"  required
                                #precioProducto="ngModel" [(ngModel)]="producto.precio">
                            <div *ngIf="precioProducto.invalid && (precioProducto.dirty || precioProducto.touched)" class="text-danger">
                                <div *ngIf="precioProducto.errors?.['required']">
                                    Debe ingresar el precio del producto antes de continuar.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label class="form-text text-secondary" for="categoriaProducto">Categoria:</label>
                            <select class="form-control" id="categoriaProducto" name="categoriaProducto" required
                                    #categoriaProducto="ngModel" [(ngModel)]="producto.categoria">
                              <option *ngFor="let categoria of listaCategorias" [ngValue]="categoria">{{ categoria.nombreCategoria }}</option>
                            </select>
                            <div *ngIf="categoriaProducto.invalid && (categoriaProducto.dirty || categoriaProducto.touched)" class="text-danger">
                              <div *ngIf="categoriaProducto.errors?.['required']">
                                Debe seleccionar una categoria antes de continuar.
                              </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label class="form-text text-secondary" for="imagen">Imagen:</label>
                            <input class="form-control" type="file" id="imagen" name="imagen" accept="image/*"
                                (change)="onFileSelected($event)" ngModel #imagen="ngModel" [required]="accion==='new'">
                            <div class="d-grid justify-content-center pt-3">
                                <img [src]="producto.imagen" class="img-thumbnail img-fluid"
                                    style="max-width: 300px" />
                            </div>
                            <div *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)" class="text-danger">
                                <div *ngIf="imagen.errors?.['required']">
                                    Debe ingresar una imagen para la categoria antes de continuar.
                                </div>
                            </div>
                        </div>


                        <div class="mt-3 justify-content-center align-content-center text-center">
                            <button *ngIf="accion=='new'" type="submit" class="btn btn-light bi bi-plus-circle me-1"
                            (click)="registrarProducto()" [disabled]="!productoForm.valid">Crear</button>
                            <button *ngIf="accion=='update'" type="submit"
                                class="btn btn-light bi bi-pencil-square me-1"  (click)="actualizarProducto()" [disabled]="!productoForm.valid">Modificar</button>
                            <a  class="btn btn-light bi bi-arrow-left" (click)="cancelarOperacion()"> Volver</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
